@{    
    Layout = "~/Shared/_layout.cshtml";   
}

@{
  if(Session["Id"] == null){
    <form action="LoginCheck.cshtml" method = "post">
        <h1>會員登入</h1>
        <table>
        <tr>
            <th>電子信箱</th>
            <td><input type="text" name="Email" size="15" maxlength="100"></td>
        </tr>
        <tr>
            <th>密碼</th>
            <td><input type="password" name="Password" size="15" maxlength="100"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="subscribe" value="送出"></td>
        </tr>
        </table>
        <p>尚未註冊嗎？ <a href="Register.cshtml">按此註冊</a></p>
    </form>
  }
  else{
    <p>您已經登入完畢！</p>
  }
}