@{
    Layout = "~/Shared/_layout.cshtml"; 

    var message = "";
    if(IsPost){
        
        var enterEmail = Request["Email"];
        var enterPassword = Request["Password"];

        var db = Database.Open("Go-Go-Go--Knight-s-Story");

        var result = db.Query("SELECT * "+
                    "FROM Member "+
                    "WHERE Email=@0 AND Password=@1", enterEmail, enterPassword);
                        
        if(result.Count() <= 0){
            message = "登入失敗！";
        }
        else{
            Session["Id"] = result.ToArray()[0].Member_Id;
            message = "登入成功！";
        }

    }

}

<h1>@message</h1>

