@{
    Layout = "~/Shared/_layout.cshtml";
}

<form action="MemberInsert.cshtml" method = "post">
    會員註冊
    <p>電子信箱:
        <input type="text" name="Email" size="15" maxlength="100">
    </p>
    <p>密碼:
        <input type="password" name="Password" size="15" maxlength="100">
    </p>
    <p>暱稱
        <input type="text" name="Nickname" size="15" maxlength="100">
    </p>
    <p>
        <input type="submit" name="subscribe" value="送出">
    </p>
</form>
