@{
     Layout = "~/Shared/_layout.cshtml";
     var db = Database.Open("Go-Go-Go--Knight-s-Story");
     var resultQuery = db.Query(@"SELECT * FROM Map");
}

@{
      if(Session["Id"] == null){
        Response.Redirect("../Member/Login.cshtml");
      }
      else{
        <h1>新增怪物</h1>
        <form action="InsertMonster.cshtml" method="post">
            <table>
            <tr><td>怪物名稱:<input type="text" name="Monster_Name" size="15" maxlength="100"></td></tr>
            <tr><td>怪物等級:<input type="text" name="Monster_Level" size="15" maxlength="100"></td></tr>
            <tr><td>怪物掉落金錢:<input type="text" name="Monster_Money" size="15" maxlength="100"></td></tr>
            <tr><td>怪物HP:<input type="text" name="Monster_HP" size="15" maxlength="100"></td></tr>
            <tr><td>怪物MP:<input type="text" name="Monster_MP" size="15" maxlength="100"></td></tr>
            <tr><td>怪物攻擊力:<input type="text" name="Monster_Atk" size="15" maxlength="100"></td></tr>
            <tr><td>怪物防禦力:<input type="text" name="Monster_Def" size="15" maxlength="100"></td></tr>
            <tr><td>怪物敏捷力:<input type="text" name="Monster_Agi" size="15" maxlength="100"></td></tr>
            <tr><td>怪物命中力:<input type="text" name="Monster_Dex" size="15" maxlength="100"></td></tr>


            <tr><td>請選擇出沒的地圖</td></tr>
            
            @foreach (var result in resultQuery){
                <tr><td><input type="checkbox" name="Map" value="@result.Map_Id"> @result.Map_Name</td></tr>
            }
            
            <tr><td><input type="submit" name="subscribe" value="送出"></td></tr>
            </table>
        </form>
      }
}