@{
    Layout = "~/Shared/_layout.cshtml";
}

@{
    if(Session["Id"] == null){
       Response.Redirect("../Member/Login.cshtml");
    }
    else{
        var db = Database.Open("Go-Go-Go--Knight-s-Story");
        var battleQuery = db.Query(@"SELECT * FROM Battle WHERE Battle_Id=@0", Request["battle_id"]);
        var monsterQuery = db.Query(@"SELECT * FROM Monster WHERE Monster_Id=@0", Request["monster_id"]);
        var characterQuery = db.Query(@"SELECT * FROM Character WHERE Character_Id=@0", Request["character_id"]);
  
        <h1>戰鬥結果</h1>
        <table>
            <tr>
                <th>名稱</th>
                <th>對打怪獸</th>
                <th>血量</th>
                <th>結果</th>
            </tr>
            <tr>
                <td>@characterQuery.ToArray()[0].Character_Name</td>
                <td>@monsterQuery.ToArray()[0].Monster_Name</td>
                <td>@characterQuery.ToArray()[0].Current_HP</td>
                <td>@battleQuery.ToArray()[0].Result</td>
            </tr>
        </table>
    }
}