@{
    Layout = "~/Shared/_layout.cshtml";
    var db = Database.Open("Go-Go-Go--Knight-s-Story");
    var resultQuery = db.Query(@"SELECT * FROM Map");
    <h1>地圖一覽表</h1>
    <table>
        <tr>
            <th>編號</th>
            <th>名稱</th>
        </tr>

        @foreach(var result in resultQuery){
            <tr>
                <td>@result.Map_Id</td>
                <td>@result.Map_Name</td>
            </tr>
        }
    </table>  
}
