@{
    Layout = "~/Shared/_layout.cshtml";

    if(Session["Id"] == null){
        Response.Redirect("~/Core/Member/Login.cshtml");
    }    

    var db = Database.Open("Go-Go-Go--Knight-s-Story");    

    var result = db.Query("SELECT * "+
                          "FROM Shop ");
    

    <h1>商店街</h1>
    if( (int)Session["id"] == 1 ){
        <p><a href="ShopForm.cshtml">新增商店</a></p>  
    }
    <table>
        <tr>
            <th>商店名稱</th>
        </tr>
        @foreach (var i in result){
            <tr>
                <td>@i.Shop_Name</td>
                <td>
                    
                    <form action ="LookItem.cshtml" method="POST">
                        <input type="hidden" name="id" value="@i.Shop_Id"/>
                        <input type="submit" name="edit" value="看商品">
                    </form>
                    
                </td>
               

            </tr>
        }

    </table>
}


